/* .app-view.ng-enter{
  transition: all 500ms linear;
  opacity: 0;
}

.app-view.ng-enter.ng-enter-active{
  opacity: 1;
}


.repeated-item.ng-enter, .repeated-item.ng-move {
  transition: all 0.5s linear;
  opacity: 0;
}

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity: 1;
}

.repeated-item.ng-leave {
  animation: 0.5s my_animation;
}


.item-contents.ng-anchor-in {
  transition: 0.2s linear all;
} */

.item-contents.ng-enter {
  animation: my_animation 0.5s;
}

.item-contents-anchor{
  transition: all 0.5s linear;
}

@keyframes my_animation {
  from { opacity: 0; }
  to   { opacity: 1; }
}
