:root{
  --TVMaze-600: rgb(60, 148, 139);
  --IMDb-600: rgb(226, 182, 22);
}

.myCardCollection *{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.myCardCollection {
  position: static;
  min-height: 200px;
}

.myCard{
  width: 19em;
  height: 27.5em;
  border: 1px solid black;
  border-radius: 0.75em ;
  margin: 1em 2em;
  position: relative;
  overflow: hidden;
  float: left;
  transition: transform 200ms;
}

.myCard::after{
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  /* background-color: hsla(0, 0%, 0%, 0.609); */
  z-index: 10;
  background: linear-gradient(
    to top, 
    hsla(0, 0%, 0%, 1), 
    hsla(0, 0%, 0%, 0.55) 30%,
    /* hsla(0, 0%, 0%, 0.35) 55%, */
    hsla(0, 0%, 0%, 0) 
    );
    transition: all 1s;
}

.myCardTitle{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: start;
  padding: .75em 0.5em 0.2em;
  margin: 0px;
  position: absolute;
  bottom: 3%;
  transition: ease-out 250ms;
  z-index: 20;
}

.myCardBody{
  color: white;
  margin-top: 1em;
  padding: 0em 1em;
  position: absolute;
  top: calc(200%*1);
  transition: ease-out 600ms;
  z-index: 20;
}

.myCardDate{
  position: absolute;
  padding: 1em 3em 1em 1.5em;
  top: 2%;
  right: -100%;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.315);
  /* mix-blend-mode: difference; */
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0 50%);
  transition: right 200ms ease;

}

.myCardImg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.myCardImg img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}


.myCardButton{
  cursor: pointer;
  text-decoration: none;
  min-width: 8ch;
  font-weight: 700;
  box-sizing: border-box;
  background-color: hsla(0, 0, 0, 0);
  color: white;
  padding: .5em .75em;
  border: 3px solid white;
  border-radius: 0.4em;
  margin: 0 0.3em 0.25em;
  z-index: 20;
  transition: all ease-out 800ms;
  transition: right ease-out 800ms;
}


.myCardButtonTVMaze{
  position: absolute;
  bottom: 1%;
  right: 100em;
  border-color: var(--TVMaze-600);
}

.myCardButtonIMDb{
  position: absolute;
  bottom: 1%;
  right: 200em;
  border-color: var(--IMDb-600);
}

.myCard:hover{
  transform: scale(1.025);
  transition: transform 650ms cubic-bezier(0.01, 1.13, 0.56, 1.46);

}

.myCard:hover>.myCardTitle{
  transition: ease-out 550ms;
  bottom: 37%;
}
.myCard:hover>.myCardBody{
  top: 58%;
}
.myCard:hover>.myCardButtonTVMaze{
  right: 0.25em;
}
.myCard:hover>.myCardButtonIMDb{
  right: 6.55em;
}
.myCard:hover .myCardDate{
  right: -2em;
  transition: right 600ms cubic-bezier(0, 1.09, 0.29, 1.11);
}

.myCard:hover::after{
  background: linear-gradient(
    to top, 
    hsla(0, 0%, 0%, 1), 
    hsla(0, 0%, 0%, 0.55) 45%,
    hsla(0, 0%, 0%, 0) 
    );
  /* background-color: azure; */
}

.myCardButton:hover{
  text-decoration: none;
  color: black;
  background-color: white;

}

.myCardButtonTVMaze:hover{
  background-color: var(--TVMaze-600);
}

.myCardButtonIMDb:hover{
  background-color: var(--IMDb-600);
}

